.navButton{
    color: #FFFFFF;
    border: solid 1px #FF8023;
    margin-left:10px;
    border-radius:2px;
    text-align:center;
    background-color:#192433;
}
.navButton:hover{
    background-color: #FF8023;
    color:#ffffff;
}